<ul>
<li>
    <img class="logo_4i" src="/static/assets/images/4i_logo.jpg">
</li>

<li>
    <ul class="lp-menu">
        <li>
            <a href="#">
                Home
            </a>
        </li>
        <li>
            <a href="#">
                Demo
            </a>
        </li>
        <li>
            <a href="#">
                Blog
            </a>
        </li>
        <li>
            <a href="#">
                Help
            </a>
        </li>
    </ul>
</li>

<li class="login"><div #adLogin></div></li>

<li class="notification"><div #adHost></div></li>

</ul>

