<!--?TODO remove hardcoded width and height-->
<div style="height: 170px; width: 200px;" [chart]="chart"></div>


<!--<div>-->

    <!--<div class="block-container">-->
        <!--Absolute-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--Cagrs-->
    <!--</div>-->
    <!--<div *ngFor="let block of blocks; let i = index" class="block-container">-->
        <!--&lt;!&ndash;<div class="block-name">&ndash;&gt;-->
            <!--&lt;!&ndash;<span>{{ block['variable']['name'] }}</span>, {{ block['variable']['metric'] }}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="expand-button">&ndash;&gt;-->
            <!--&lt;!&ndash;<button (click)="onExpandButtonClick(i)">Expand</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<div [chart]="block['chart']"></div>-->

        <!--<table class="cagrs-table" *ngIf="block['cagrs']">-->
            <!--<tr>-->
                <!--<td-->
                    <!--*ngFor="let cagr of block['cagrs']"-->
                <!--&gt;-->
                    <!--<div *ngIf="cagr">-->
                        <!--<div class="period-label">{{ cagr['start'] + '/' + cagr['end'] }}</div>-->
                        <!--{{ cagr['value'] }}-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->
