.c-diag {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.c-diag__graph {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 88px);
}
.c-diag__graph--decomposition {
  height: calc(100% - 54px);
}
.c-diag__pane {
  padding: 16px 12px 10px;
  height: 28px;
  min-height: 28px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}
.c-diag__pane:after {
  content: '';
  display: table;
  clear: both;
}
.c-diag__title {
  margin: 0 2% 0 1.6%;
}
.c-diag__title h3 {
  display: block;
  width: 100%;
  margin: 0;
  font-family: 'open_sansbold';
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  text-align: left;
  color: #2e3438;
  white-space: nowrap;
}
.c-diag__date {
  margin-left: auto;
  max-width: 22%;
  min-width: 150px;
  width: 150px;
  width: 100%;
}
.c-diag__date select {
  width: 100%;
  height: 28px;
}
.c-diag__text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  font-family: 'open_sanssemibold';
  font-size: 10px;
  text-align: left;
  color: rgba(98,105,112,0.7);
}
.c-diag__changer {
  margin-left: 2%;
}
.c-diag__tabs {
  max-height: 34px;
  height: 34px;
  padding: 0 12px;
  background-color: #fff;
}
.c-diag__table {
  height: calc(100% - 54px);
  background: #fff;
}
.c-diag__button {
  margin-left: 2%;
}
.c-diag:after {
  content: '';
  display: table;
  clear: both;
}
.c-parts {
  height: 100%;
  width: 100%;
  display: box;
  box-orient: vertical;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /*display: none; vira*/
}
.c-parts__item {
  height: calc(50% - 3px);
  margin-bottom: 6px;
  border-radius: 4px;
  box-shadow: 0 0 4.8px 0.3px rgba(0,0,0,0.05);
  overflow: hidden;
}
.c-parts__item:last-child {
  margin-bottom: 0;
}
.c-parts__item:first-child {
  border-top-left-radius: 0;
}


/*buttons start*/
.c-button {
  position: relative;
  font-family: 'open_sansbold';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  color: #44b3c2;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #44b3c2;
}
.c-button--expand {
  width: 75px;
  padding-right: 15px;
}
.c-button--expand:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 12px;
  width: 10px;
  height: 100%;
  background: url("/static/assets/images/icons/ic-expand.svg") no-repeat center;
  background-size: 10px 13px;
}
.c-button:hover {
  cursor: pointer;
}
.c-button:focus {
  outline: none;
}
/*buttons end*/

/*graph item start*/
.c-graph__diag {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 10px);
  margin-bottom: 10px;
  background: #ecf0f7;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.c-graph__item {
  padding: 0 12px;
  display: none;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.c-graph__item--decomposition .c-graph__diag {
  width: 100%;
}
.c-graph__item--active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*graph item end*/


.c-parts__item--details {
  height: 100%;
}
.c-parts__item--details .c-graph__item--details {
  height: calc(50% - 3px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}
.c-parts__item--details .c-graph__item--details:last-child {
  margin-bottom: 0;
}
.c-parts__item--details .c-graph__left-tab {
  display: block;
}
.c-parts__item--details .c-diag__date {
  margin-left: 20px;
}
.c-parts__item--details .c-diag__table {
  height: 155px;
}
.c-parts__item--details .c-diag__table .c-table {
  padding-top: 6px;
}
.c-parts__item--details .c-diag__table .c-table__head {
  height: 30px;
}
.c-parts__item--details .c-diag__table .c-table__row {
  border-top-left-radius: 4px;
}
.c-parts__item--details .c-diag__graph {
  height: calc(100% - 208px);
}
.c-parts--active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*tabs start*/
.c-color-tab {
  position: relative;
  display: block;
  width: calc(100% - 60px);
  padding: 0 20px 0 40px;
  font-family: 'open_sanssemibold';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 27px;
  text-align: center;
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.c-color-tab:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 5px;
  right: 4px;
  background: url("/static/assets/images/icons/ic-expand-triangle.svg") no-repeat center;
  opacity: 0.7;
}
.c-color-tab--orange {
  background-color: #f1a94e;
}
.c-color-tab--red {
  background-color: #e45641;
}
.c-color-tab--blue {
  background-color: #44b3c2;
}
.c-color-tab--grey {
  background-color: #d8e0ee;
  color: #2e3438;
}
.c-color-tab--grey:after {
  display: none;
}
.c-color-tab--active {
  font-size: 14px;
  line-height: 32px;
}
.c-color-tab:hover {
  cursor: pointer;
}
.c-color-tab--vertical {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.c-color-tab--vertical span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.c-color-tab--vertical:after {
  display: none;
}
.c-color-tab__wrapper {
  /*overflow: hidden; vira*/
}
.c-color-tab__wrapper span {
  white-space: nowrap;
}
/*tabs end*/

/*cagr start*/
.c-graph__left-tab {
  display: none;
}
.c-graph__left-tab .c-color-tab {
  padding: 0;
}
.c-graph__left-tab .c-color-tab__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-top: 50px;
}
.c-graph__left-tab .c-color-tab__wrapper span {
  padding-bottom: 40px;
}
.c-graph__cagr {
  padding-left: 16px;
  height: calc(100% - 10px);
  padding-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-cagr {
  position: relative;
  height: 134px;
  padding: 0 16px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 4.8px 0.3px rgba(0,0,0,0.1);
}
.c-cagr__main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
  bottom: 19px;
}
.c-cagr__main:after {
  content: '';
  display: table;
  clear: both;
}
.c-cagr__value {
  height: 62px;
  margin-right: 16px;
  font-family: 'open_sansbold';
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  text-align: center;
  color: #55c398;
  background: #ecf0f7;
  border-radius: 4px;
}
.c-cagr__value:last-child {
  margin-right: 0;
}
.c-cagr__value span {
  display: block;
  padding: 0 10px;
  text-align: center;
  line-height: 31px;
  border-bottom: 1px solid #55c398;
}
.c-cagr__value span:last-child {
  border-bottom: none;
}
.c-cagr__value--active {
  color: #f1a94e;
}
.c-cagr__value--active span {
  border-bottom: 1px solid #f1a94e;
}
.c-cagr__value--active span:last-child {
  border-bottom: none;
}
.c-cagr__title h4 {
  margin: 5px 0 0;
  padding: 0;
  font-family: 'open_sansbold';
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #626970;
}
.c-cagr__title h4 span {
  display: block;
}
/*cagr end*/
