<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forecast</title>
    <base href="{{ request.route_url('forecast.index') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon"
          href="{{ request.static_url('iap.ui:dist/assets/images/favicon.ico') }}">

    <!--TODO REMOVE THIS-->
    <link rel="stylesheet"
          href="{{ request.static_url('iap.ui:dist/assets/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet"
          href="{{ request.static_url('iap.ui:dist/assets/css/font-awesome.min.css') }}"/>
    <script src="{{ request.static_url('iap.ui:dist/assets/js/jquery.min.js') }}"></script>
    <script src="{{ request.static_url('iap.ui:dist/assets/js/bootstrap.min.js') }}"></script>
    <!--/TODO REMOVE THIS-->

</head>
<body>

<app-root>
    <div style="position:fixed;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0.5);text-align:center;">
        <img src="{{ request.static_url('iap.ui:dist/assets/images/loading.gif') }}"
             alt="">
    </div>
</app-root>
<script src="{{ request.static_url('iap.ui:dist/inline.js') }}"></script>
<script src="{{ request.static_url('iap.ui:dist/styles.bundle.js') }}"></script>
<script src="{{ request.static_url('iap.ui:dist/main.bundle.js') }}"></script>

</body>
</html>