<div class="container-fluid">
    <h3>Select Tool and Project</h3>
    <div class="form-group col-sm-4" *ngIf="tools !== null">
        <label>Tool</label>
        <select [(ngModel)]="currTool" (ngModelChange)="onToolChange($event)" class="form-control">
            <option *ngFor="let toolKey of tools | keys" [ngValue]="toolKey">{{ tools[toolKey]['name'] }}</option>
        </select>
    </div>

    <div class="form-group col-sm-4" *ngIf="currTool !== null">
        <label>Project</label>
        <select [(ngModel)]="currProject" class="form-control">
            <option *ngFor="let project of tools[currTool]['projects']" [ngValue]="project">{{ project['name'] }}</option>
        </select>
    </div>

    <div class="form-group col-sm-4" *ngIf="currTool && currProject">
        <button class="btn btn-primary" (click)="goToTool(currTool, currProject['id'])">Go to {{ tools[currTool]['name'] }}, {{ currProject['name'] }}</button>
    </div>
</div>
