<div class="dropdown-container">
    <div
        class="form-control dropdown-field"
        (click)="toggleExpandedStatus($event)">
        <span *ngIf="!config.multiple && selected.length > 0">
            {{ selected[0].label }}
        </span>
        <span class="glyphicon glyphicon-chevron-down expand-button"></span>
    </div>
    <div *ngIf="expandedStatus" class="variants-container">
        <ul class="nodes-container" *ngIf="filteredItems.length > 0">
            <li
                *ngFor="let item of filteredItems; let i = index"
                [class.is_disabled]="item.isDisabled"
                [class.is_selected]="item.isSelected"
                [class.is_hovered]="hoveredItemIdx == i"
                (click)="elementClicked($event, i)"
                (mouseenter)="hoveredItemIdx = i"
                class="dropdown_item">
                {{ item.label }}
            </li>
        </ul>
    </div>
</div>
