 <div class="l-cat-popup__tabs">
     <div class="c-cat-tabs">
         <div
                 *ngFor="let sel of selectorsOrder | iterateObjectByOrder: selectors; let i = index"
                 [class.c-cat-tabs__item--active]="selectorsOrder[i] == state['activeTab']"
                 [class.deactivated]="deactivate"
                 (click)="setActiveTab(selectorsOrder[i])"
                 class="c-cat-tabs__item c-cat-tabs__item--{{ sel['model']['icon'] }}">
             <a class="c-cat-tabs__inner" (click)="onPreviewClick(i, $event)">
                 <div class="c-cat-tabs__title">{{ sel['model']['name'] }}</div>
                 <ul class="c-cat-tabs__checked" *ngIf="sel['selected'] && sel['selected'].length > 0" >
                     <li  *ngFor="let s of sel['selected']">{{ s.name }}<span>,</span></li>
                 </ul>
             </a>
         </div>
     </div>
 </div>

 <div
         *ngIf="selectors[state['activeTab']]"
         name="blockBrands" >
     <div [ngSwitch]="selectors[state['activeTab']]['model']['type']" class="selector-container">

        <flat-selector *ngSwitchCase="'flat'" [model]="selectors[state['activeTab']]['model']"></flat-selector>

        <hierarchical-selector
                *ngSwitchCase="'hierarchical'"
                (nothingSelected)="onNothingSelected($event)"
                [model]="selectors[state['activeTab']]['model']"></hierarchical-selector>

        <region-selector *ngSwitchCase="'region'" [model]="selectors[state['activeTab']]['model']"></region-selector>

    </div>
 </div>
