<div class="l-cat-popup__main l-cat-popup__main--brands l-cat-popup__main--orange l-cat-popup__main--active">
    <div class="l-cat-popup__sidebar">
        <div class="c-cat-block c-cat-block--search">
            <div class="c-cat-block__pane">{{ lang['search_title'] }}</div>
            <div class="c-cat-block__area">
                <div class="c-search">
                    <!--?<input type="submit" value="">
                    <input type="search" name="search" placeholder="Search">-->
                    <input
                            [ngModel]="searchText"
                            (ngModelChange)="onSearchTextChange($event)"
                            [attr.placeholder]="lang['search_placeholder']"
                            type="search"
                    >
                    <!--?<span *ngIf="searchText && searchText.length" (click)="onSearchTextChange(null)" [attr.title]="lang['search_clear']" class="clear-button">X</span>-->
                </div>
            </div>
        </div>
        <div class="c-cat-block c-cat-block--results">
            <div class="c-cat-block__pane">{{ lang['items_title'] }}</div>
            <div class="c-cat-block__area">

                <ul class="c-results-list" *ngIf="itemsToShow.length > 0">
                    <li class="c-results-list__item" *ngFor="let item of itemsToShow;let i = index;" [class.active]="item.isSelected" >
                        <div class="c-results-list__res">
                            <span class="arrow-holder">
                                <div *ngIf="!(searchText && searchText.length) && item.children.length > 0" (click)="changeExpandStatus(item)">
                                    <div class="arrow-holder__down" *ngIf="item.isExpanded"></div>
                                    <div class="arrow-holder__right" *ngIf="!item.isExpanded"></div>
                                </div>
                            </span>
                            <span *ngFor="let i of range(item.depth)">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <div class="c-checkbox">
                                <input type="checkbox" [ngModel]="item.isSelected" (click)="onItemClick(item)"  id="result{{i}}">
                                <label class="c-checkbox__label" for="result{{i}}"></label>
                            </div>
                            <!--?<span *ngFor="let i of range(item.depth)">&nbsp;&nbsp;</span>-->
                            <span>{{ item.name }}</span>

                            <!--?TODO replace the following when have hierarchical data-->


                        </div>
                    </li>
                </ul>

            </div>
<!--?

                <ul *ngIf="itemsToShow.length > 0">
                    <li *ngFor="let item of itemsToShow" [class.active]="item.isSelected" >
                        <input type="checkbox" [ngModel]="item.isSelected" (click)="onItemClick(item)" >
                        <span *ngFor="let i of range(item.depth)">&nbsp;&nbsp;</span>

                        {{ item.name }}

                        <span *ngIf="!(searchText && searchText.length) && item.children.length > 0" (click)="changeExpandStatus(item)">
                            <span *ngIf="item.isExpanded">-</span>
                            <span *ngIf="!item.isExpanded">+</span>
                        </span>
                    </li>
                </ul>
                <span *ngIf="itemsToShow.length == 0">{{ lang['not_found_items'] }}</span>-->

        </div>
    </div>
    <div class="l-cat-popup__right">

        <div class="c-cat-block c-cat-block--selected c-cat-block--selected-large">
            <div class="c-cat-block__pane">{{ lang['selected_title'] }}</div>
            <div class="c-cat-block__area">
                <div class="c-select-list">
                    <div class="c-select-list__item" *ngFor="let item_id of model.selected" >
                        <span>{{ model['items'][item_id]['name'] }}</span>
                        <div (click)="onDeselectItemClick(item_id)" class="c-select-list__close"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--?



<div>

    <div class="items">
        <div>
            <h3>{{ lang['search_title'] }}</h3>
            <input [ngModel]="searchText" (ngModelChange)="onSearchTextChange($event)" [attr.placeholder]="lang['search_placeholder']">
            <span *ngIf="searchText && searchText.length" (click)="onSearchTextChange(null)" [attr.title]="lang['search_clear']" class="clear-button">X</span>
        </div>

        <div>
            <h3>{{ lang['items_title'] }}</h3>

            <ul *ngIf="itemsToShow.length > 0">
                <li *ngFor="let item of itemsToShow" [class.active]="item.isSelected" >
                    <input type="checkbox" [ngModel]="item.isSelected" (click)="onItemClick(item)" >
                    <span *ngFor="let i of range(item.depth)">&nbsp;&nbsp;</span>

                    {{ item.name }}

                    <span *ngIf="!(searchText && searchText.length) && item.children.length > 0" (click)="changeExpandStatus(item)">
                        <span *ngIf="item.isExpanded">-</span>
                        <span *ngIf="!item.isExpanded">+</span>
                    </span>
                </li>
            </ul>
            <span *ngIf="itemsToShow.length == 0">{{ lang['not_found_items'] }}</span>
        </div>

    </div>


    <div class="selected">
        <h3>{{ lang['selected_title'] }}</h3>
        <ul>
            <li *ngFor="let item_id of model.selected">
                {{ model['items'][item_id]['name'] }}
                <span (click)="onDeselectItemClick(item_id)">X</span>
            </li>
        </ul>
    </div>

</div>
-->
