<div class="container-fluid dashboard-container">

    <selectors></selectors>

    <ul class="navigation" *ngIf="dm.dataIsResolved">
        <li><a routerLink="./general" routerLinkActive="active">{{ dm.config['dashboard_tab'] }}</a></li>
        <li><a routerLink="./driver-details" routerLinkActive="active">{{ dm.config['drivers_details_tab'] }}</a></li>
        <li><a routerLink="./driver-summary" routerLinkActive="active">{{ dm.config['drivers_summary_tab'] }}</a></li>
    </ul>

    <router-outlet></router-outlet>

    <insights [data]="dm.insights"></insights>

</div>
