.dashboard-container > * {
    border: 1px solid #5e5e5e;
    margin: 5px 0;
    padding: 5px;
    display: block;
}

.navigation {
    list-style: none;
}
.navigation li {
    display: inline-block;
    margin:0 2px;
}
.navigation li a {
    background: grey;
    padding: 0 3px;
}
.navigation li a.active {
    background: whitesmoke;
}
