<div class="component-container">
    <div class="full-current-selection">
        <div class="text">
            <span *ngIf="selectedPoints">
                <span *ngIf="selectedPoints['start']">
                    {{ selectedPoints['start'].getName() }}
                </span>
                -
                <span *ngIf="selectedPoints['mid']">
                    {{ selectedPoints['mid'].getName() }}
                </span>
                <span *ngIf="selectedPoints['mid']">-</span>

                <span *ngIf="selectedPoints['end']">
                    {{ selectedPoints['end'].getName() }}
                </span>
            </span>
        </div>
        <div class="toggle-arrow">
            <div *ngIf="expandedMode == false" (click)="setExpandedMode(true)" class="arrow-to-bottom"></div>
            <div *ngIf="expandedMode == true" (click)="setExpandedMode(false)" class="arrow-to-top"></div>
        </div>
    </div>

    <div class="expanded-selector" *ngIf="expandedMode">
        <div class="scales" *ngIf="scales && scales.length > 1">
            <span *ngFor="let scale of scales" [ngClass]="{'selected': (scale == currScale)}" (click)="changeScale(scale)"> {{ scale }}</span>
        </div>
        <div class="pre-selection">
            <span *ngIf="preSelectedPoints[currScale] && preSelectedPoints[currScale]['start']">{{ preSelectedPoints[currScale]['start'].getName() }}</span>
            -
            <span *ngIf="preSelectedPoints[currScale] && preSelectedPoints[currScale]['mid']">{{ preSelectedPoints[currScale]['mid'].getName() }}</span>

            <span *ngIf="preSelectedPoints[currScale] && preSelectedPoints[currScale]['end']">{{ preSelectedPoints[currScale]['end'].getName() }}</span>
        </div>
        <div class="slider-wraper">
            <range-slider
                [data]="currPoints"
                [selected]="preSelectedPoints[currScale]"
                (changed)="onSliderChange($event)"
            ></range-slider>
        </div>
        <div class="buttons">
            <button (click)="save()">{{ lang['apply'] }}</button>
            <button (click)="setExpandedMode(false)">{{ lang['cancel'] }}</button>
        </div>
    </div>
</div>
