<div class="l-app">
    <div class="l-app__wrapper">

<header class="l-app__header">
  <div class="c-top-pane">
    <div class="c-top-pane__item c-top-pane__item--domik">
      <div class="c-domik">
        <div class="c-domik__img"><img src="/static/assets/images/common/company-nike.svg" alt="Nike"></div>
        <div class="c-domik__caption">
          <div class="c-domik__company">Nike, Inc</div>
          <div class="c-domik__name">Mike Nilson</div>
        </div>
      </div>
    </div>
    <div class="c-top-pane__item c-top-pane__item--nav">
        <menu-widget
    *ngIf="menuItems"
    [menu]="menuItems"></menu-widget>
    </div>
    <div class="c-top-pane__item c-top-pane__item--info">
      <div class="c-info">
        <div class="c-info__item c-info__item--notification"><a href="#">1 Notification</a></div>
        <div class="c-info__item c-info__item--logout"><a (click)="onClickLogout()">{{ logoutLabel}}</a></div>
      </div>
    </div>
    <div class="c-top-pane__item c-top-pane__item--logo">
      <div class="c-logo">
        <div class="c-logo__img"><a href="../index.html"><img src="/static/assets/images/common/main-logo.svg" alt="Brandname"></a></div>
        <div class="c-logo__text">Brandname    </div>
      </div>
    </div>
  </div>
</header>

<!--TEMP-->
<!--?<div>
    <button (click)="onClickLogout()">Logout</button>
</div>-->
<!--?<language-selector
    *ngIf="langsList.length>0"
    [languages]="langsList"
    (changed)="languageChanged($event)"></language-selector>-->
<!--?<language-selector
    *ngIf="langsData"
    [langs]="langsData"
    (changed)="languageChanged($event)"></language-selector>-->
<!--/TEMP-->

<!--?<menu-widget
    *ngIf="topMenuData"
    [data]="topMenuData"></menu-widget>-->

         <!--?<div class="l-dash-area__top">-->
            <!--?<selectors [position]="'top'"></selectors>-->
         <!--?</div>-->
                    <!--?<div class="c-top-info">
                        <div class="c-top-info__item">
                          <div class="c-top-info__inner c-top-info__inner--location"><span>United States, Texas, Dallas</span></div>
                        </div>
                        <div class="c-top-info__item">
                          <div class="c-top-info__inner c-top-info__inner--channel"><span>Channel1, Channel2, Categ</span></div>
                        </div>
                        <div class="c-top-info__item">
                          <div class="c-top-info__inner c-top-info__inner--type"><span>Training pants, women’s s</span></div>
                        </div>
                        <div class="c-top-info__item">
                          <div class="c-top-info__inner c-top-info__inner--brand"><span>Nike, Puma, New Balance</span></div>
                        </div>
                    </div>-->



        <router-outlet></router-outlet>

</div>
</div>


