<div class="container-fluid">
    <!--forecast start-->
    <div *ngIf="forecastingTool.name" class="row lp-tool-item">
        <div class="col-sm-6">
            <h2>{{forecastingTool.name}}</h2>
            <p>{{forecastingTool.description}}</p>
        </div>
        <div *ngIf="projects !== null" class="col-sm-6">
            <div *ngFor="let proj of forecastingTool.projects">
                <div (click)="goToTool(forecastingTool.id, proj.id)" class="lp-project-item">
                    <h3> {{ proj.name }} </h3>
                    <p> {{ proj.description }} </p>
                </div>
            </div>

        </div>
    </div>
    <!--forecast end-->
    <!--pp start-->
    <div *ngIf="pptTool.name" class="row lp-tool-item">
        <div class="col-sm-6">
            <h2>{{ pptTool.name }}</h2>
            <p>{{ pptTool.description }}</p>
        </div>
        <div *ngIf="projects !== null" class="col-sm-6">
            <div *ngFor="let proj of pptTool.projects">
                <div (click)="goToTool(pptTool.id, proj.id)" class="lp-project-item">
                    <h3> {{ proj.name }} </h3>
                    <p> {{ proj.description }} </p>
                </div>
            </div>

        </div>
    </div>
    <!--pp end-->
    <!--mm start-->
    <div *ngIf="mmTool.name" class="row lp-tool-item">
        <div class="col-sm-6">
            <h2>{{ mmTool.name }}</h2>
            <p>{{ mmTool.description }}</p>
        </div>
        <div *ngIf="projects !== null" class="col-sm-6">
            <div *ngFor="let proj of mmTool.projects">
                <div (click)="goToTool(mmTool.id, proj.id)" class="lp-project-item">
                    <h3> {{ proj.name }} </h3>
                    <p> {{ proj.description }} </p>
                </div>
            </div>

        </div>
    </div>
    <!--mm end-->
</div>
