<header class="lp-header">
    <ul class="lp-menu">
        <li>
            <a href="#">
                Home
            </a>
        </li>
        <li>
            <a href="#">
                Demo
            </a>
        </li>
        <li>
            <a href="#">
                Blog
            </a>
        </li>
        <li>
            <a href="#">
                Help
            </a>
        </li>
    </ul>
<div>
    <img class="logo_4i" src="/static/assets/images/4i_logo.jpg">
</div>
<div class="lp-logout">
    <button (click)="onClickLogout()">Logout</button>
</div>

</header>
<language-selector
        *ngIf="langsList.length>0"
        [languages]="langsList"
        (changed)="languageChanged($event)"></language-selector>
<tool-selector></tool-selector>
