<section class="l-app__main">
<div class="c-eclipse"></div>
<div class="scenarios">
    <div class="scenarios__main">
        <div class="scenarios__left">
                <div class="c-left-sidebar c-left-sidebar--create c-left-sidebar--active">
                  <form class="c-edit-form" #saveForm="ngForm" (ngSubmit)="onSaveClose($event)">
                      <div class="c-left-sidebar__item c-left-sidebar__item--create">
                          <div *ngIf="scenario == undefinde" class="c-left-sidebar__pane c-left-sidebar__pane--create">
                            <h3>Create New Scenario</h3>
                          </div>
                          <div *ngIf="scenario != undefinde" class="c-left-sidebar__pane c-left-sidebar__pane--edit">
                            <h3>Edit Scenario {{scenario.name}}</h3>
                          </div>
                          <div class="c-edit-form__formgroup c-edit-form__formgroup--first c-left-sidebar__content">
                            <div class="c-edit-form__item c-text-field">
                                <input class="c-text-field__input" type="text" [(ngModel)]="new_scenario.name" (keyup)="onChangeForm($event)" (change)="onChangeForm($event)" name="name" placeholder="Scenario Name">
                                <div (click)="onClear('name')" *ngIf="new_scenario.name" class="c-text-field__delete"></div>
                            </div>
                            <p *ngIf="form_status.messages.name">{{form_status.messages.name}}</p>
                            <div class="c-edit-form__item c-text-field c-edit-form__item--textarea">
                                <textarea class="c-text-field__textarea" [(ngModel)]="new_scenario.description" (keyup)="onChangeForm($event)" (change)="onChangeForm($event)" name="description" placeholder="Description"></textarea>
                                <div (click)="onClear('description')" *ngIf="new_scenario.description" class="c-text-field__delete"></div>
                            </div>
                            <p *ngIf="form_status.messages.description">{{form_status.messages.description}}</p>
                          </div>
                        </div>
                    <div class="c-left-sidebar__item c-left-sidebar__item--predifined">
                      <div class="c-left-sidebar__pane c-left-sidebar__pane--predifined">
                        <h3>Predifined Drivers</h3>
                      </div>
                      <div class="c-edit-form__formgroup c-left-sidebar__content">
                        <div *ngIf="predifined_drivers">
                            <div *ngFor="let predifined_driver of predifined_drivers" class="c-edit-form__item">
                              <label class="c-edit-form__label" for="driver_{{predifined_driver.name}}">{{predifined_driver.label}}</label>
                              <select (change)="onChangeForm($event)" id="driver_{{predifined_driver.name}}" class="c-edit-form__select c-select" name="{{predifined_driver.name}}">
                                  <option *ngIf="!scenario" value="" selected>------</option>
                                  <option *ngFor="let option of predifined_driver.options" value="{{option.value}}">{{option.name}}</option>
                              </select>
                              <p *ngIf="form_status.messages[predifined_driver.name]">{{form_status.messages[predifined_driver.name]}}</p>
                            </div>
                        </div>
                        <div class="c-edit-form__buttons">
                          <button (click)="onSaveGo($event)" class="c-button c-button--blue">Save and GO</button>
                          <button (click)="onSaveClose($event)" class="c-button c-button--blue">Save and Close</button>
                          <button class="c-button c-button--blue">Save as New</button>
                          <button (click)="onCancel()" class="c-button c-button--grey">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
        </div><!---------------- scenarios__left ---------------->
        <div class="scenarios__right">
            asd
        </div><!---------------- scenarios__right ---------------->
    </div><!---------------- scenarios__main ---------------->
</div><!---------------- scenarios ---------------->
</section>
