<section class="l-app__main">
<div class="c-eclipse"></div>
<div class="scenarios">
    <div class="scenarios__main">
        <div class="scenarios__left">
            <div class="c-left-sidebar c-left-sidebar--main c-left-sidebar--active">
                <div class="c-left-sidebar__item c-left-sidebar__item--description">
                    <div class="c-left-sidebar__pane">
                        <h3>Global Nike Market</h3>
                    </div>
                    <div class="c-left-sidebar__content c-left-sidebar__content--description">
                        <span>Some module description Some you description</span>
                    </div>
                </div>
                <div class="c-left-sidebar__item c-left-sidebar__item--recent">
                    <div class="c-left-sidebar__pane c-left-sidebar__pane--recent">
                        <h3>Recent Actions</h3>
                    </div>
                    <div class="c-left-sidebar__content">
                        <ul class="c-simple-list">
                            <li class="c-simple-list__item"><span class="c-simple-list__text">Forecasting with Sports module</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                            <li class="c-simple-list__item"> <span class="c-simple-list__text">Reporting Crosses module</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                        </ul>
                    </div>
                </div>
                <div class="c-left-sidebar__item c-left-sidebar__item--work">
                    <div class="c-left-sidebar__pane c-left-sidebar__pane--work">
                        <h3>Work List</h3>
                    </div>
                    <div class="c-left-sidebar__content">
                        <p>datepicker</p>
                        <ul class="c-simple-list">
                            <li (click)="onShowDatepicker($event)" class="c-simple-list__item" *ngFor="let scenario of work_list"><span class="c-simple-list__text">{{scenario.name}}</span><span class="c-simple-list__date">{{dateParse(scenario.modify_date)}}</span></li>
                        </ul>
                    </div>
                </div>
            </div><!---------------- c-left-sidebar c-left-sidebar--main ---------------->
            <div class="c-left-sidebar c-left-sidebar--edit">
                c-left-sidebar--edit
            </div><!---------------- c-left-sidebar c-left-sidebar--edit ---------------->
            <div class="c-left-sidebar c-left-sidebar--create">
                c-left-sidebar--create
            </div><!---------------- c-left-sidebar c-left-sidebar--create ---------------->
        </div><!---------------- scenarios__left ---------------->
        <div class="scenarios__right">
            <div class="m-scenarios-page m-scenarios-page--active">
                <div class="m-scenarios-page__filter c-top-filter">
                            <div class="c-top-filter__item c-top-filter__item--title">
                              <h3 class="c-top-filter__title">Filters</h3>
                            </div>
                            <div class="c-top-filter__item c-top-filter__item--favor">
                              <div class="c-checkbox-filter">
                                <input (change)="onFilter($event, 'favorite', 'Yes')" class="c-checkbox-filter__input" type="checkbox" id="scenarios-favorites">
                                <label class="c-checkbox-filter__label" for="scenarios-favorites"><span>Favorites ({{filterCount.favorite}})</span></label>
                              </div>
                              <select (change)="onChangeAuthor($event)" class="c-select c-top-filter__author">
                                    <option value="">---------------------------</option>
                                    <option *ngFor="let author of filters.authorsList" value="{{author}}">{{author}}</option>
                              </select>
                            </div>
                            <div class="c-top-filter__item c-top-filter__item--checks">
                              <div class="c-checkbox-filter c-top-filter__checks">
                                  <input (change)="onFilter($event, 'shared', 'Yes')" class="c-checkbox-filter__input" type="checkbox" id="scenarios-shared">
                                <label class="c-checkbox-filter__label" for="scenarios-shared"><span>Shared ({{filterCount.shared}})</span></label>
                              </div>
                              <div class="c-checkbox-filter c-top-filter__checks">
                                  <input (change)="onFilter($event, 'shared', 'No')" class="c-checkbox-filter__input" type="checkbox" id="scenarios-local">
                                <label class="c-checkbox-filter__label" for="scenarios-local"><span>Local ({{filterCount.local}})</span></label>
                              </div>
                            </div>
                            <div class="c-top-filter__item c-top-filter__item--checks">
                                <div class="c-checkbox-filter c-top-filter__checks">
                                  <input (change)="onFilter($event, 'status', 'Draft')" class="c-checkbox-filter__input" type="checkbox" id="scenarios-drafts">
                                <label class="c-checkbox-filter__label" for="scenarios-drafts"><span>Drafts ({{filterCount.drafts}})</span></label>
                              </div>
                                <div class="c-checkbox-filter c-top-filter__checks">
                                  <input (change)="onFilter($event, 'status', 'Final')"  class="c-checkbox-filter__input" type="checkbox" id="scenarios-final">
                                <label class="c-checkbox-filter__label" for="scenarios-final"><span>Final ({{filterCount.final}})</span></label>
                              </div>
                            </div>
                            <div class="c-top-filter__item c-top-filter__item--search">
                                <my-date-range-picker [options]="myDateFilterOptions" (dateRangeChanged)="onDateFilter($event)"></my-date-range-picker>
                                <form class="c-search c-top-filter__search">
                                <input type="submit" value="">
                                <input (keyup)="onChangeSearch($event)" type="search" name="search" placeholder="Search">
                              </form>
                            </div>
                          </div>
                <div *ngIf="scenariosList !== undefined && scenariosList.length > 0" class="m-scenarios-page__service c-service-pane">
                    <div class="c-top-filter__item c-top-filter__item--checks" id="multiselect-wrap">
                        <div class="c-checkbox-filter c-top-filter__checks">
                            <input *ngIf="multiselect.active === false" (change)="onToggleMultiselect($event)" class="c-checkbox-filter__input" type="checkbox" id="show-multiselect">
                            <input *ngIf="multiselect.active === true" (change)="onToggleMultiselect($event)" class="c-checkbox-filter__input" type="checkbox" id="show-multiselect" checked>
                            <label class="c-checkbox-filter__label" for="show-multiselect"><span>Show multiselect</span></label>
                        </div>
                    </div>

                    <a (click)="goToNewScenario($event)" [ngStyle]="{'opacity': userPermissions.create ? '' : '0.4', 'cursor': userPermissions.create ? 'pointer' : 'default'}" style="position:absolute;left:170px;" class="c-service-pane__item c-service-pane__item--create" href="#">
                        <span class="c-service-pane__border">Create New</span>
                    </a>
                    <a *ngIf="multiselect.active" (click)="onToggleStatusScenario($event)" [ngStyle]="{'opacity': userPermissions.finalize ? '' : '0.4', 'cursor': userPermissions.finalize ? 'pointer' : 'default'}" class="c-service-pane__item c-service-pane__item--finalize" href="#">
                        <span class="c-service-pane__border">Finalize</span>
                    </a>
                    <a *ngIf="multiselect.active" (click)="onToggleSharedScenario($event)" [ngStyle]="{'opacity': userPermissions.share ? '' : '0.4', 'cursor': userPermissions.share ? 'pointer' : 'default'}" class="c-service-pane__item c-service-pane__item--share" href="#">
                        <span class="c-service-pane__border">Share</span>
                    </a>
                    <a *ngIf="multiselect.active" (click)="onDeleteScenario($event)" [ngStyle]="{'opacity': userPermissions.delete ? '' : '0.4', 'cursor': userPermissions.delete ? 'pointer' : 'default'}" class="c-service-pane__item c-service-pane__item--delete" href="#">
                        <span class="c-service-pane__border">Delete</span>
                    </a>
                </div>
                <div *ngIf="scenariosList !== undefined && scenariosList.length > 0" class="m-scenarios-page__table" [ngClass]="{'m-scenarios-page__table--preview': selectScenario}">
                    <div class="m-scenarios-page__scroll">
                        <div class="c-scenarios-table">
                            <div class="c-scenarios-table__thead">
                                  <div class="c-scenarios-table__row">
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--header c-scenarios-table__cell--checks">
                                      <div class="c-scenarios-table__head-cell c-scenarios-table__head-cell--checks">
                                        <div class="c-check-actions" [ngStyle]="{'width': multiselect.active ? '100%' : '', 'margin': multiselect.active ? '0 auto' : ''}">
                                          <div *ngIf="multiselect.active" class="c-check-actions__item c-checkbox">
                                            <input type="checkbox" id="sc-table-all" (change)="onToggleAllScenarios($event)">
                                            <label class="c-checkbox__label c-checkbox__label--transparent" for="sc-table-all"></label>
                                          </div>
                                          <div class="c-check-actions__item favorit favorit--header c-tooltip">
                                            <div class="c-tooltip__text c-tooltip__text--worklist">Worklist</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div (click)="onToggleSort('name')" class="c-scenarios-table__cell c-scenarios-table__cell--header c-scenarios-table__cell--name">
                                      <div class="c-scenarios-table__head-cell c-scenarios-table__head-cell--name">
                                         Name<span *ngIf="sorting.field === 'name'" class="c-scenarios-table__sort sort" [ngClass]="{'sort--reverse': !sorting.order}"></span></div>
                                    </div>
                                    <div (click)="onToggleSort('author')" class="c-scenarios-table__cell c-scenarios-table__cell--header c-scenarios-table__cell--author">
                                      <div class="c-scenarios-table__head-cell c-scenarios-table__head-cell--author">
                                         Author<span *ngIf="sorting.field === 'author'" class="c-scenarios-table__sort sort" [ngClass]="{'sort--reverse': !sorting.order}"></span></div>
                                    </div>
                                    <div (click)="onToggleSort('shared')" class="c-scenarios-table__cell c-scenarios-table__cell--header c-scenarios-table__cell--shared">
                                      <div class="c-scenarios-table__head-cell c-scenarios-table__head-cell--shared">
                                          Shared<span *ngIf="sorting.field === 'shared'" class="c-scenarios-table__sort sort" [ngClass]="{'sort--reverse': !sorting.order}"></span></div>
                                    </div>
                                    <div (click)="onToggleSort('description')" class="c-scenarios-table__cell c-scenarios-table__cell--header c-scenarios-table__cell--description">
                                      <div class="c-scenarios-table__head-cell c-scenarios-table__head-cell--description">
                                          Description<span *ngIf="sorting.field === 'description'" class="c-scenarios-table__sort sort" [ngClass]="{'sort--reverse': !sorting.order}"></span></div>
                                    </div>
                                    <div (click)="onToggleSort('modify_date')" class="c-scenarios-table__cell c-scenarios-table__cell--header c-scenarios-table__cell--modified">
                                      <div class="c-scenarios-table__head-cell c-scenarios-table__head-cell--modified">
                                          Modified<span *ngIf="sorting.field === 'modify_date'" class="c-scenarios-table__sort sort" [ngClass]="{'sort--reverse': !sorting.order}"></span></div>
                                    </div>
                                    <div (click)="onToggleSort('status')" class="c-scenarios-table__cell c-scenarios-table__cell--header c-scenarios-table__cell--status">
                                      <div class="c-scenarios-table__head-cell c-scenarios-table__head-cell--status">
                                          Status<span *ngIf="sorting.field === 'status'" class="c-scenarios-table__sort sort" [ngClass]="{'sort--reverse': !sorting.order}"></span></div>
                                    </div>
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--header c-scenarios-table__cell--actions">
                                      <div class="c-scenarios-table__head-cell c-scenarios-table__head-cell--actions"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="c-scenarios-table__tbody">
                                  <div [attr.data-id]="scenario.id" *ngFor="let scenario of scenariosList" (click)="onSelectPreview($event)" class="c-scenarios-table__row">
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--checks">
                                      <div class="c-check-actions" [ngStyle]="{'width': multiselect.active ? '100%' : '16px', 'margin': multiselect.active ? '0 auto' : '0 auto'}">
                                        <div *ngIf="multiselect.active" class="c-check-actions__item c-checkbox">
                                          <input (change)="onToggleScenario($event)" type="checkbox" id="sc-table-check-{{scenario.id}}" [attr.data-id]="scenario.id">
                                          <label class="c-checkbox__label c-checkbox__label--transparent" for="sc-table-check-{{scenario.id}}"></label>
                                        </div>
                                        <div class="c-check-actions__item c-checkbox-star c-tooltip">
                                          <div class="c-tooltip__text c-tooltip__text--favorites c-tooltip__text--bottom" [ngStyle]="{'left': scenario.favorite === 'No' ? '' : '-48px'}">
                                              {{scenario.favorite === "No" ? 'Add to Favorites' : 'Remove from Favorites'}}
                                          </div>
                                          <input [attr.checked]="scenario.favorite === 'Yes' ? true : null" [attr.data-id]="scenario.id" (change)="onToggleFavoritScenario($event)" id="sc-table-star-{{scenario.id}}" type="checkbox">
                                          <label class="c-checkbox-star__label" for="sc-table-star-{{scenario.id}}"></label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--name">{{scenario.name}}</div>
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--author">{{scenario.author}}</div>
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--shared">
                                        <a (click)="onToggleSharedScenario($event)" [attr.data-id]="scenario.id" [ngStyle]="{'opacity': in_array('share', scenario.scenario_permission) && !multiselect.active ? '' : '0.4'}" *ngIf="scenario.shared === 'Yes'" class="shared" href="#"></a>
                                        <span (click)="onToggleSharedScenario($event)" [attr.data-id]="scenario.id" [ngStyle]="{'color': in_array('share', scenario.scenario_permission) && !multiselect.active ? '' : 'rgba(148,161,181,0.5)'}" *ngIf="scenario.shared === 'No'">Local</span>
                                    </div>
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--description">{{scenario.description}}</div>
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--modified">{{dateParse(scenario.modify_date)}}</div>
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--status">
                                        <div (click)="onToggleStatusScenario($event)" [attr.data-id]="scenario.id" [ngStyle]="{'color': in_array('change_status', scenario.scenario_permission) && !multiselect.active ? '' : 'rgba(148,161,181,0.5)'}" *ngIf="scenario.status !== 'Final'" class="status">{{scenario.status}}</div>
                                        <div (click)="onToggleStatusScenario($event)" [attr.data-id]="scenario.id" [ngStyle]="{'background-color': in_array('change_status', scenario.scenario_permission) && !multiselect.active ? '' : '#c4c6c9'}" *ngIf="scenario.status === 'Final'" class="status status--final">{{scenario.status}}</div>
                                    </div>
                                    <div class="c-scenarios-table__cell c-scenarios-table__cell--actions">
                                        <div class="c-actions">
                                            <a (click)="onCopyScenario($event)" [attr.data-id]="scenario.id" [ngStyle]="{'opacity': in_array('copy', scenario.scenario_permission) && !multiselect.active ? '' : '0.4'}" class="c-tooltip c-tooltip c-actions__item c-actions__item--copy" href="#">
                                                <div *ngIf="in_array('copy', scenario.scenario_permission) && !multiselect.active" class="c-tooltip__text c-tooltip__text--bottom">Copy</div>
                                            </a>
                                            <a (click)="goToEditScenario($event)" [attr.data-id]="scenario.id" [ngStyle]="{'opacity': in_array('edit', scenario.scenario_permission) && !multiselect.active ? '' : '0.4'}" class="c-tooltip c-actions__item c-actions__item--edit" href="#">
                                                <div *ngIf="in_array('edit', scenario.scenario_permission) && !multiselect.active" class="c-tooltip__text c-tooltip__text--bottom">Edit</div>
                                            </a>
                                            <a (click)="goToSimulator($event)" [attr.data-id]="scenario.id" [ngStyle]="{'opacity': !multiselect.active ? '' : '0.4'}" class="c-tooltip c-actions__item c-actions__item--play" href="#">
                                                <div *ngIf="!multiselect.active" class="c-tooltip__text c-tooltip__text--go c-tooltip__text--bottom">Go Scenario</div>
                                            </a>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div><!---------------- m-scenarios-page__table ---------------->

                <div *ngIf="beforeFilterScenariosList !== undefined && beforeFilterScenariosList.length > 0 && scenariosList.length === 0">
                    {{not_found_criteria_scenarios_message}}
                </div>

                <div *ngIf="beforeFilterScenariosList !== undefined && beforeFilterScenariosList.length === 0">
                    {{not_found_scenarios_message}}
                </div>

                <div *ngIf="selectScenario" class="m-scenarios-page__preview" [ngClass]="{'m-scenarios-page__preview--active': selectScenario}">
                            <div class="m-scenarios-page__close" (click)="onCloseScenariosPreview()"></div>
                            <div class="c-scenarios-preview">
                              <ul *ngIf="selectScenario.selectors.length" class="c-scenarios-preview__item c-preview-list">
                                  <li *ngFor="let item of selectScenario.selectors" class="c-preview-list__item c-preview-list__item--{{item.key}}"><span class="c-preview-list__text">{{item.values}}</span></li>
                              </ul>
                              <div *ngIf="selectScenario.table.length" class="c-scenarios-preview__item c-preview-table">
                                  <div class="c-preview-table__scroll">
                                      <div class="c-preview-table__main">
                                        <div class="c-preview-table__thead">
                                      <div class="c-preview-table__row">
                                        <div class="c-preview-table__cell c-preview-table__cell--th">
                                          <div class="c-preview-table__head-cell">Drivers</div>
                                        </div>
                                        <div class="c-preview-table__cell c-preview-table__cell--th">
                                          <div class="c-preview-table__head-cell">Growth, {{dateParse(selectScenario.modify_date)}}</div>
                                        </div>
                                        <div class="c-preview-table__cell c-preview-table__cell--th">
                                          <div class="c-preview-table__head-cell">Drivers</div>
                                        </div>
                                        <div class="c-preview-table__cell c-preview-table__cell--th">
                                          <div class="c-preview-table__head-cell">Growth, {{dateParse(selectScenario.modify_date)}}</div>
                                        </div>
                                      </div>
                                    </div>
                                        <div class="c-preview-table__tbody">
                                            <div *ngFor="let item of selectScenario.table; let even = even; let odd = odd" class="c-preview-table__row">
                                                <div *ngIf="odd" class="c-preview-table__cell">
                                                  <div class="c-preview-table__inner">{{item.drivers}}</div>
                                                </div>
                                                <div *ngIf="odd" class="c-preview-table__cell c-preview-table__cell--drivers">
                                                  <div class="c-preview-table__inner">{{item.growth}}</div>
                                                </div>
                                                <div *ngIf="even" class="c-preview-table__cell c-preview-table__cell__first">
                                                  <div class="c-preview-table__inner">{{item.drivers}}</div>
                                                </div>
                                                <div *ngIf="even" class="c-preview-table__cell c-preview-table__cell--drivers">
                                                  <div class="c-preview-table__inner">{{item.growth}}</div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                              </div>
                              <ul *ngIf="selectScenario.main_info.length" class="c-scenarios-preview__item c-preview-info">
                                  <li *ngFor="let item of selectScenario.main_info" class="c-preview-info__item">
                                      <div class="c-preview-info__title">{{item.name}}</div>
                                      <div class="c-preview-info__value" [ngClass]="{'c-preview-info__value--green': item.value.startsWith('+'), 'c-preview-info__value--red': item.value.startsWith('-')}">{{item.value}}</div>
                                  </li>
                              </ul>
                            </div>
                          </div><!---------------- m-scenarios-page__preview ---------------->
                <div class="m-scenarios-page__delete c-popup-alert">
                            <div class="c-popup-alert__container">
                              <div class="c-popup-alert__pane">Delete selected scenario?</div>
                              <div class="c-popup-alert__text"><span>Are you shure you want to delete "Fav Scenario 2016 Spec"?</span></div>
                              <div class="c-popup-alert__buttons">
                                <div class="c-popup-alert__btn c-button c-button--blue">Yes</div>
                                <div class="c-popup-alert__btn c-button c-button--grey js-alert-no">No</div>
                              </div>
                            </div>
                          </div><!---------------- m-scenarios-page__delete ---------------->
            </div><!---------------- m-scenarios-page ---------------->
        </div><!---------------- scenarios__right ---------------->
    </div><!---------------- scenarios__main ---------------->
</div><!---------------- scenarios ---------------->
</section>
