<table (dblclick)="onDblClick($event)" [ngClass]="{'is-editable': conf.isEditable}">
    <thead>
        <tr *ngFor="let row of header">
            <th *ngFor="let meta of row['meta']">
                {{ meta['text'] }}
            </th>
            <th *ngFor="let cell of row['cells']">
                {{ cell['text'] }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of body">
            <th *ngFor="let meta of row['meta']">
                {{ meta['text'] }}
            </th>
            <td *ngFor="let cell of row['cells']" [attr.data-cell-id]="cell.id" [ngClass]="{'is-editable': cell.isEditable, 'is-changed': cell.isChanged}">
                <div *ngIf="cell.editMode">
                    <input
                        #field_for_edit
                        (keyup)="onInputKeyup(cell.id, $event)"
                        [(ngModel)]="cell.value">
                </div>
                <div *ngIf="!cell.editMode">
                    {{ cell.getValue() }}
                </div>

            </td>
        </tr>
    </tbody>
</table>
