<section class="l-app__main">
<div class="c-eclipse"></div>
<div class="simulator">
    <div class="simulator__main">
        <div class="simulator__left">
            <div class="m-scenarios-page m-scenarios-page--active">
                <selectors-wrapper></selectors-wrapper>
                <div class="simulator__left__content">
                    <div class="l-dash-area__main">
                      <div class="c-board">
                        <!--left sidebar-->
                        <div class="c-board__aside">
                          <ul class="c-aside-tabs">
                            <li class="c-aside-tabs__item" routerLinkActive="c-aside-tabs__item--active">
                                <a routerLink="./forecast-results"><span>{{config.forecast_results_tab_name}}</span></a>
                            </li>
                            <li class="c-aside-tabs__item" routerLinkActive="c-aside-tabs__item--active">
                                <a routerLink="./drivers-summary"><span>{{config.drivers_summary_tab_name}}</span></a>
                            </li>
                            <li class="c-aside-tabs__item" routerLinkActive="c-aside-tabs__item--active">
                                <a routerLink="./drivers-details"><span>{{config.drivers_details_tab_name}}</span></a>
                            </li>
                            <li class="c-aside-tabs__item" routerLinkActive="c-aside-tabs__item--active">
                                <a routerLink="./scenario-insights"><span>{{config.scenario_insights_tab_name}}</span></a>
                            </li>
                          </ul>
                        </div>
                        <div class="c-board__diag">
                            <p>baseScenario --- {{baseScenario|json}}</p>
                            <p>simulationScenario --- {{simulationScenario|json}}</p>
                            <router-outlet></router-outlet>
                        </div>
                      </div>
                    </div>
                </div><!---------------- simulator__right__content ---------------->
            </div><!---------------- m-scenarios-page ---------------->
        </div><!---------------- simulator__left ---------------->
        <div class="simulator__right">
              <div class="sidebar-sim-sum sidebar-sim-sum--active" name="sidebarResults">
                <div class="sidebar-sim-sum__item c-sidebar-block">
                  <div class="c-sidebar-block__pane">
                    <h4 class="c-sidebar-block__title">Display</h4>
                  </div>
                  <div class="c-sidebar-block__content">
                    <h5 class="c-sidebar-block__title c-sidebar-block__title--subtitle">Baseline Scenario</h5>
                    <div class="c-sidebar-block__line">
                      <select class="c-select h-width-150" *ngIf="scenariosList" (change)="onChangedBaselineScenario($event)">
                        <option
                                *ngFor="let scenario of scenariosList"
                                [value]="scenario.id"
                                [attr.selected]="baseScenario==scenario.id ? true : null"
                                >{{scenario.name}}</option>
                      </select>
                      <!-- <div class="c-triple-changer c-triple-changer--sim c-triple-changer--double-icon h-width-auto">
                        <div class="c-triple-changer__item c-triple-changer__item--icon c-triple-changer__item--delivery c-triple-changer__item--active"></div>
                        <div class="c-triple-changer__item c-triple-changer__item--icon c-triple-changer__item--purchase"></div>
                      </div> -->
                    </div>
                    <div class="c-sidebar-block__line">
                        <buttons-group *ngIf="absRateSwitcherData" [data]="absRateSwitcherData" (changed)="onChangedAbsRateState($event)"></buttons-group>

                        <buttons-group *ngIf="valueVolumePriceSwitcherData" [data]="valueVolumePriceSwitcherData" (changed)="onChangedValueVolumePriceSwitcherData($event)"></buttons-group>
                    </div>
                  </div>
                </div>
                <!-- <div class="sidebar-sim-sum__item c-sidebar-block">
                  <div class="c-sidebar-block__pane">
                    <h4 class="c-sidebar-block__title">Scenarios actions</h4>
                  </div>
                  <div class="c-sidebar-block__content">
                    <ul class="c-sidebar-block__line c-actions-list">
                      <li class="c-actions-list__item c-actions-list__item--save"></li>
                      <li class="c-actions-list__item c-actions-list__item--save-as"></li>
                      <li class="c-actions-list__item c-actions-list__item--print">
                        <ul class="c-actions-list__dropdown">
                          <li class="c-actions-list__dropdown-item">Print</li>
                          <li class="c-actions-list__dropdown-item">Save as PDF</li>
                          <li class="c-actions-list__dropdown-item">Generate XLS report</li>
                        </ul>
                      </li>
                      <li class="c-actions-list__item c-actions-list__item--share"></li>
                    </ul>
                  </div>
                </div> -->
                <!-- <div class="sidebar-sim-sum__item sidebar-sim-sum__item--worklist c-sidebar-block">
                  <div class="c-sidebar-block__pane c-sidebar-block__pane--blue c-sidebar-block__pane--icon">
                    <h4 class="c-sidebar-block__title c-sidebar-block__title--icon c-sidebar-block__title--worklist">Work List</h4>
                  </div>
                  <div class="c-sidebar-block__content c-sidebar-block__content--icon">
                      <p>Datepicker --- </p>
                    <ul class="c-simple-list">
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"><span class="c-simple-list__text">New Important Scenario</span><span class="c-simple-list__date">Sep 27, 2016</span></li>
                      <li class="c-simple-list__item"> <span class="c-simple-list__text">Fav Scenario 2016</span><span class="c-simple-list__date c-simple-list__date--red">Sep 27, 2016</span></li>
                    </ul>
                  </div>
                </div> -->
              </div>
        </div><!---------------- simulator__right ---------------->
    </div><!---------------- simulator__main ---------------->
</div><!---------------- simulator ---------------->
</section>

