.block-container {
    display:inline-block;
    width:24%;
}
.block-name {
    font-size:20px;
}
.block-name span {
    font-weight:bold;
}
table.cagrs-table td {
    text-align:center;
}
.period-label {
    font-weight:bold;
}
