<div class="c-top-info">

    <div class="c-top-info__item" *ngFor="let sel of selectorsOrder | iterateObjectByOrder: selectors; let i = index" >
        <div
                class="c-top-info__inner c-top-info__inner--location"
                (click)="onPreviewClick(selectorsOrder[i], $event)"
        >
            <span *ngIf="sel['selected'] && sel['selected'].length > 0">
                <span *ngFor="let s of sel['selected']">
                    {{ s.name }}
                </span>
            </span>
            <span *ngIf="!sel['selected'] || sel['selected'].length == 0">
                {{ sel['model']['placeholder'] }}
            </span>
        </div>
    </div>

    <!--?<div class="c-top-info__item">
      <div class="c-top-info__inner c-top-info__inner--location"><span>United States, Texas, Dallas</span></div>
    </div>
    <div class="c-top-info__item">
      <div class="c-top-info__inner c-top-info__inner--channel"><span>Channel1, Channel2, Categ</span></div>
    </div>
    <div class="c-top-info__item">
      <div class="c-top-info__inner c-top-info__inner--type"><span>Training pants, women’s s</span></div>
    </div>
    <div class="c-top-info__item">
      <div class="c-top-info__inner c-top-info__inner--brand"><span>Nike, Puma, New Balance</span></div>
    </div>-->
</div>

<!--?<div class="wrapper">-->

    <!--?<ul class="selectors">
        <li *ngFor="let sel of selectorsOrder | iterateObjectByOrder: selectors; let i = index">

            <div class="selector-preview" (click)="onPreviewClick(selectorsOrder[i], $event)">

                <span *ngIf="sel['selected'] && sel['selected'].length > 0">
                    <span *ngFor="let s of sel['selected']">
                        {{ s.name }}
                    </span>
                </span>
                <span *ngIf="!sel['selected'] || sel['selected'].length == 0">
                    {{ sel['model']['placeholder'] }}
                </span>

            </div>

        </li>
    </ul>-->

     <div class="l-cat-popup" *ngIf="state['isExpanded']" >
         <div class="l-cat-popup__tabs">
             <div class="c-cat-tabs">
                 <div
                         *ngFor="let sel of selectorsOrder | iterateObjectByOrder: selectors; let i = index"
                         [class.c-cat-tabs__item--active]="selectorsOrder[i] == state['activeTab']"
                         (click)="setActiveTab(selectorsOrder[i])"
                         class="c-cat-tabs__item c-cat-tabs__item--region">
                     <a class="c-cat-tabs__inner" (click)="onPreviewClick(i, $event)">
                         <div class="c-cat-tabs__title">{{ sel['model']['name'] }}</div>
                         <ul class="c-cat-tabs__checked" *ngIf="sel['selected'] && sel['selected'].length > 0" >
                             <li  *ngFor="let s of sel['selected']">{{ s.name }}<span>,</span></li>
                         </ul>
                     </a>
                 </div>
             </div>
         </div>

         <div
                 *ngIf="selectors[state['activeTab']]"
                 name="blockBrands"
         >
             <div [ngSwitch]="selectors[state['activeTab']]['model']['type']" class="selector-container">

                <flat-selector *ngSwitchCase="'flat'" [model]="selectors[state['activeTab']]['model']"></flat-selector>

                <hierarchical-selector *ngSwitchCase="'hierarchical'" [model]="selectors[state['activeTab']]['model']"></hierarchical-selector>

                <region-selector *ngSwitchCase="'region'" [model]="selectors[state['activeTab']]['model']"></region-selector>

            </div>
         </div>

         <div class="l-cat-popup__buttons">
             <a class="c-button c-button--90 c-button--orange" (click)="onApplyClick()">Apply</a>
             <a class="c-button c-button--90 c-button--transparent" (click)="onCancelClick()">Cancel</a>
         </div>
     </div>


    <!--?<div *ngIf="state['isExpanded']" class="expanded-block">

        <ul class="selectors-tabs">
            <li *ngFor="let sel of selectorsOrder | iterateObjectByOrder: selectors; let i = index" [class.active]="selectorsOrder[i] == state['activeTab']" (click)="setActiveTab(selectorsOrder[i])">

                <div class="selector-preview" (click)="onPreviewClick(i, $event)">
                    {{ sel['model']['name'] }}
                </div>

            </li>
        </ul>

        <div *ngIf="selectors[state['activeTab']]" >

            <div [ngSwitch]="selectors[state['activeTab']]['model']['type']" class="selector-container">

                <flat-selector *ngSwitchCase="'flat'" [model]="selectors[state['activeTab']]['model']"></flat-selector>

                <hierarchical-selector *ngSwitchCase="'hierarchical'" [model]="selectors[state['activeTab']]['model']"></hierarchical-selector>

                <region-selector *ngSwitchCase="'region'" [model]="selectors[state['activeTab']]['model']"></region-selector>

            </div>

        </div>

        <button (click)="onApplyClick()">Apply</button>
        <button (click)="onCancelClick()">Cancel</button>
    </div>-->

<!--?
</div>
-->
