/*.wrapper {
    position: relative;
    z-index: 1;
}

ul.selectors {
    list-style: none;
}
ul.selectors li {
    display: inline-block;
    width:200px;
    margin: 0 10px;
    padding: 0 15px;
}
ul.selectors li .selector-preview {
    border: 1px solid grey;
    padding: 2px 5px;
    cursor: pointer;
}

.expanded-block {
    position: absolute;
    top: 25px;
    left:0;
    width: 100%;
    z-index: 99;
    padding: 10px;
    background: #a4a1a3;

}
ul.selectors-tabs {
    list-style: none;
}
ul.selectors-tabs li {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    border: 1px solid #3c763d;
    background: #31b0d5;
    cursor: pointer;
}
ul.selectors-tabs li.active {
    background: #f5f5f5;
}
.selector-container {
    border: 1px solid #31b0d5;
    border-radius: 15px;
    padding: 10px;
}*/

/*added*/

.c-top-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.c-top-info__item {
  width: calc(25% - 20px);
  padding: 10px;
}
.c-top-info__inner {
  height: 26px;
  padding: 6px 9px 0 35px;
  border-radius: 4px;
  font-family: 'open_sanssemibold';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  text-transform: uppercase;
  color: #626970;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 9px center;
}
.c-top-info__inner span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid rgba(46,52,56,0.2);
}
.c-top-info__inner span span { /*vira*/
  border-bottom: none;
}
.c-top-info__inner--location {
  background-image: url("/static/assets/images/icons/ic-location.svg");
}
.c-top-info__inner--channel {
  background-image: url("/static/assets/images/icons/ic-channel.svg");
}
.c-top-info__inner--type {
  background-image: url("/static/assets/images/icons/ic-type.svg");
}
.c-top-info__inner--brand {
  background-image: url("/static/assets/images/icons/ic-brand.svg");
}
.c-top-info__inner:hover {
  cursor: pointer;
}


/*popup start*/
.l-cat-popup {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 95;
  min-width: 974px;
  max-width: 998px;
  width: 100%;
  height: 563px;
  padding: 10px 12px;
  background: #94a1b5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 0px 22px 0px #000;
 /* display: none; vira*/
}
.l-cat-popup--active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.l-cat-popup__buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.l-cat-popup__buttons .c-button {
  margin-left: 20px;
}
/*tabs start*/

.c-cat-tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.c-cat-tabs__title {
  font-family: 'open_sansbold';
  font-size: 11px;
  line-height: 18px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #626970;
}
.c-cat-tabs__checked {
  height: 30px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0 0 0 59px;
  font-family: 'open_sanssemibold';
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #fff;
}
.c-cat-tabs__checked li {
  display: inline;
}
.c-cat-tabs__checked li:last-child span {
  display: none;
}
.c-cat-tabs__inner {
  display: block;
  height: 100%;
  text-decoration: none;
    cursor: pointer; /*vira*/
}
.c-cat-tabs__item {
  position: relative;
  width: 235px;
  height: 51px;
  background-color: #a9b4c4;
  border: solid 1px #bfc5d1;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
}
.c-cat-tabs__item:after {
  content: '';
  display: block;
  width: 34px;
  height: 100%;
  position: absolute;
  left: 12px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}
.c-cat-tabs__item--region:after {
  background-image: url("/static/assets/images/icons/ic-location-white.svg");
}
.c-cat-tabs__item--channels:after {
  background-image: url("/static/assets/images/icons/ic-channel-white.svg");
}
.c-cat-tabs__item--categories:after {
  background-image: url("/static/assets/images/icons/ic-type-white.svg");
}
.c-cat-tabs__item--brands:after {
  background-image: url("/static/assets/images/icons/ic-brand-white.svg");
}
.c-cat-tabs__item--active {
  transition: all 0.1s ease-in-out;
}
.c-cat-tabs__item--active.c-cat-tabs__item--region {
  background-color: #f1a94e;
  border: solid 1px #f1a94e;
}
.c-cat-tabs__item--active.c-cat-tabs__item--channels {
  background-color: #e45641;
  border: solid 1px #e45641;
}
.c-cat-tabs__item--active.c-cat-tabs__item--categories {
  background-color: #44b3c2;
  border: solid 1px #44b3c2;
}
.c-cat-tabs__item--active.c-cat-tabs__item--brands {
  background-color: #f1a94e;
  border: solid 1px #f1a94e;
}
.c-cat-tabs__item--active:after {
  opacity: 1;
  transition: all 0.1s ease-in-out;
}
.c-cat-tabs__item--active .c-cat-tabs__title {
  font-size: 18px;
  line-height: 51px;
  color: #fff;
}
.c-cat-tabs__item--active .c-cat-tabs__checked {
  display: none;
}

/*tabs end*/

/*buttons start*/
.c-button {
  position: relative;
  font-family: 'open_sansbold';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  color: #44b3c2;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #44b3c2;
    cursor: pointer; /*vira*/
}
.c-button--orange {
  background-color: #f1a94e;
  color: #fff;
  border: none;
}
.c-button--transparent {
  background-color: transparent;
  color: #fff;
  border: none;
}.c-button--90 {
  display: inline-block;
  width: 90px;
}
/*buttons end*/


/*popup end*/
