table.accordion-table {
    border-collapse: collapse;
}
td, th {
    border:1px solid #5e5e5e;
    padding:0 2px;
}
.invisible {
    visibility: hidden;
}
.expand-button {
    cursor:pointer;
}
.is-header {
    font-weight: bold;
    text-align: center;
}
.is-meta {
    font-weight: bold;
}
table.is-editable td.is-editable {
    background-color: #c7fbc7;
    cursor: pointer;
}
table.is-editable td.is-changed {
    background-color: #d58512;
}
